
/*animation keyframes
going from positionX utside the screen
to 0 the original position */
@-webkit-keyframes slide {
  0%{
  transform: translateX(-100%);
  }
  100%{
    transform: translateX(0%);
  }
}
@-o-keyframes slide {
  0%{
  transform: translateX(-100%);
  }
  100%{
    transform: translateX(0%);
  }
}
@-moz-keyframes slide {
  0%{
  transform: translateX(-100%);
  }
  100%{
    transform: translateX(0%);
  }
}
@keyframes slide {
  0%{
  transform: translateX(-100%);
  }
  100%{
    transform: translateX(0%);
  }
}
/*animating the return to top chevron  */

@-webkit-keyframes top {
  0%{
  transform: translateY(-20px);
  }
  50%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(-20px);
  }
}
@-o-keyframes top {
  0%{
  transform: translateY(-20px);
  }
  50%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(-20px);
  }
}
@-moz-keyframes top {
  0%{
  transform: translateY(-20px);
  }
  50%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(-20px);
  }
}
@keyframes top {
  0%{
  transform: translateY(-20px);
  }
  50%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(-20px);
  }
}

/*navigation a tags dropping from top
page into correct position  */
@-webkit-keyframes dropIntoPlace {
  from {
    transform: translateY(-100%)
    }
  to {
      transform: translateY(0%)
  }
}
@-o-keyframes dropIntoPlace {
  from {
    transform: translateY(-100%)
    }
  to {
      transform: translateY(0%)
  }
}
@-moz-keyframes dropIntoPlace {
  from {
    transform: translateY(-100%)
    }
  to {
      transform: translateY(0%)
  }
}
@keyframes dropIntoPlace {
  from {
    transform: translateY(-100%)
    }
  to {
      transform: translateY(0%)
  }
}

/*fade-in animation for content
is being used to portray staggered effect
  */
@-webkit-keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1; }
}
@-o-keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1; }
}
@-moz-keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1; }
}
@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1; }
}
