/*animation keyframes
going from positionX utside the screen
to 0 the original position */
@keyframes slide {
  0%{
  transform: translateX(-100%);
  }
  100%{
    transform: translateX(0%);
  }
}
/*animating the return to top chevron  */
@keyframes top {
  0%{
  transform: translateY(-20px);
  }
  50%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(-20px);
  }
}
/*navigation a tags dropping from top
page into correct position  */
@-webkit-keyframes dropIntoPlace {
  from {
    transform: translateY(-100%)
    }
  to {
      transform: translateY(0%)
  }
}
@-o-keyframes dropIntoPlace {
  from {
    transform: translateY(-100%)
    }
  to {
      transform: translateY(0%)
  }
}
@-moz-keyframes dropIntoPlace {
  from {
    transform: translateY(-100%)
    }
  to {
      transform: translateY(0%)
  }
}
@keyframes dropIntoPlace {
  from {
    transform: translateY(-100%)
    }
  to {
      transform: translateY(0%)
  }
}

/*fade-in animation for content
is being used to portray staggered effect
  */
@-webkit-keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1; }
}
@-o-keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1; }
}
@-moz-keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1; }
}
@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1; }
}


body{
  background-image: url('images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #f0ecdb;
  font-size: 12px;
  font-family: 'Montserrat', 'Open Sans','Roboto','Trirong', serif;
}
P{
  animation: 4s ease-in-out 0s 1 fade-in;
}

.navbar-inverse .navbar-brand{
  animation: 2s ease-out 0s 1 slide;
  transition-delay: 3s;
}
.navbar {
  border-bottom: 1px solid #f0ecdb;
}
.nav-tabs{
  border: 0px;
}
.nav li a{
  animation: 2s ease 0s 1 dropIntoPlace;
  color:#f0ecdb;
}
main{
  margin-top: 60px;
}
main .container{
  box-shadow: 3px 2px 0.7;
  border-radius: 2px;
  z-index: 1;
}
h1,h2,h3{
  text-align: center;
}
article img{
  width: 100%;
}
article img[src="images/portrait.jpg"]{
  animation: 3s ease-in-out 0s 1 fade-in;
  border-radius: 40%;
}
.glyphicon{
  font-size: 30px;
  color: #f0ecdb;
  text-align: center;
  text-shadow:2px 1px #2A2A2A;
  animation: 2s ease-out 0s infinite top;
}
.thumbnail{
  animation: 5s ease-in-out 0s 1 fade-in;
}
.thumbnail:hover{
  background-color: #2A2A2A;
  color:#f0ecdb;
}
.thumbnail:hover .caption{
  color:#f0ecdb;
}
a:hover{
  text-decoration: none;
  color:#f0ecdb;

}
a{
  color:#2A2A2A;
}
i{
  font-size: 2.3em;
  color: #f0ecdb;
  transition-duration: 2s;
}
i:hover{
  transform: scale(1.2);
}
.progress{
  opacity: 0.7;
  background-color: #f0ecdb;
}
.progress:hover{
  opacity:1;
}

.progress-bar{
  background-color: green;
}
footer{
  background-color: grey;
  opacity: 0.9;
}
footer .row{
  height: 100px;
  padding-top: 30px;
  opacity: 1;
}
/*Staggered fade for each container  */
#aboutme{
  animation: 3s ease-in-out 0s 1 fade-in;
}
#project{
  animation: 4s ease-in-out 0s 1 fade-in;
}
#technical{
  animation: 5s ease-in-out 0s 1 fade-in;
}
#contact{
  animation: 5s ease-in-out 0s 1 fade-in;
}
