body{
  background-color: #2A2A2A;
  color: #FFF;
  font-size: 12px;
  font-family: 'Montserrat', 'Open Sans','Roboto','Trirong', serif;
}
h1,h2,h3{
  text-align: center;
}
main{
  margin-top: 60px;
}
article img{
  width: 100%;
}
article img[src="images/portrait.jpg"]{
  border-radius: 40%;
}
.navbar {
  border-bottom: 1px solid white;
}
.nav-tabs{
  border: 0px;
}
.glyphicon{
  font-size: 30px;
  color: #fff;
}

.thumbnail:hover{
  background-color: #2A2A2A;
  color:#fff;
}
.thumbnail:hover .caption{
  color:#fff;
}
a:hover{
  text-decoration: none;
  color:#2A2A2A;
}
a{
color:#2A2A2A;
}
i{
  font-size: 2.3em;
  color: #fff;
}

.progress-bar{
  background-color: green;
}
